@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid fondo-exhortos min-vh-100 pb-5" style="padding-top:80px;">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">

            <!-- TITULO -->
            <div class="text-center mt-4 mb-4">
                <h2>SEGUIMIENTO DE EXHORTOS</h2>
            </div>

            <!-- TABLA -->
            <div class="table-responsive">

                <table class="table table-striped table-hover">

                    <thead>
                        <tr>
                            <th>Acción</th>
                            <th>Exhorto</th>
                            <th>Expediente</th>
                            <th>Estado</th>
                            <th>Municipio</th>
                            <th>TUA Exhortado</th>
                            <th>Fecha de Acuerdo</th>
                            <th>Fecha de Envío</th>
                            <th>Estatus</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td class="text-center">
                                <img src="~/images/Icons/eye-fill.svg" width="20" alt="Ver">
                                </td>

                                <td>E.45/2026-09</td>
                                <td>123/2026</td>
                                <td>Estado de México</td>
                                <td>Metepec</td>
                                <td>TUA 09</td>
                                <td>15/03/2026</td>
                                <td>16/03/2026</td>
                                <td>PENDIENTE</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <img src="~/images/Icons/eye-fill.svg" width="20" alt="Ver">
                                    </td>

                                    <td>E.46/2026-09</td>
                                    <td>124/2026</td>
                                    <td>Hidalgo</td>
                                    <td>Pachuca</td>
                                    <td>TUA 23</td>
                                    <td>14/03/2026</td>
                                    <td>15/03/2026</td>
                                    <td>EN PROCESO</td>
                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>