html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*Icono color blanco*/
.icon-white {
    filter: brightness(0) invert(1);
}

/*boton login*/
.btn-tua {
    background-color: #357E73;
    border-color: #357E73;
    color: white;
}

    .btn-tua:hover {
        background-color: #2d6c62;
        border-color: #2d6c62;
        color: white;
    }

    .btn-tua:focus {
        box-shadow: 0 0 0 0.2rem rgba(53, 126, 115, 0.4);
    }

/*imagen de fondo*/
.fondo-exhortos {
    background-image: url('/Images/FondoTSA.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
}
}

/* Necesario para poder ocultar el icono del date */
input[type="date"].sin-icono {
    position: relative;
}

    input[type="date"].sin-icono::-webkit-calendar-picker-indicator {
        opacity: 0;
        display: none;
    }

    input[type="date"].sin-icono::-webkit-inner-spin-button {
        display: none;
    }

    input[type="date"].sin-icono::-webkit-clear-button {
        display: none;
    }

/* PAGINACIÓN DATATABLES */

.dataTables_wrapper .dataTables_paginate {
    margin-top: 15px;
    text-align: center;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        font-weight: bold;
        font-size: 16px;
        padding: 6px 12px;
        margin: 2px;
        border-radius: 6px;
    }

        /* Página actual */
        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            background-color: #198754 !important;
            color: white !important;
            font-weight: bold;
            border: none;
        }

        /* Hover */
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background-color: #0d6efd !important;
            color: white !important;
        }

        /* Botones anterior / siguiente */
        .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
        .dataTables_wrapper .dataTables_paginate .paginate_button.next {
            font-weight: bold;
        }

/* TEXTO DE INFORMACIÓN DE REGISTROS */
.dataTables_info {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}